%absoluteFill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

%absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%imageCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%loader {
    content: "";
    display: block;
    position: relative;
    height: 1em;
    width: 1em;
    border: 2px solid $loader-color;
    border-radius: 290486px;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    animation: spin .5s infinite linear;
}