
button {
    font-family: var(--font-family);
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .button {
        margin-bottom: var(--buttons-gap);

        &:not(:last-child) {
            margin-right: var(--buttons-gap);
        }
    }
}

.button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: var(--button-padding);
    height: var(--button-height);
    border: none;
    border-radius: var(--button-radius);
    font-size: var(--button-font-size);
    cursor: pointer;
    background-color: #CCC;

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }

    &.is-loading {
        color: transparent !important;

        &:after {
            @extend %loader;
            position: absolute;
            left: calc(50% - (1em / 2));
            top: calc(50% - (1em / 2));
        }
    }

    &.is-large {
        border-radius: var(--button-radius-large);
        font-size: var(--button-font-size-large);
        padding: var(--button-padding-large);
        height: var(--button-height-large);
    }
    &.is-small {
        border-radius: var(--button-radius-small);
        font-size: var(--button-font-size-small);
        padding: var(--button-padding-small);
        height: var(--button-height-small);
    }

    &.is-rounded {
        border-radius: 100px;
    }

    &.is-primary {
        background-color: var(--color-primary);
        color: var(--color-primary-invert);
    }
    &.is-secondary {
        background-color: var(--color-secondary);
        color: var(--color-secondary-invert);
    }
    &.is-success {
        background-color: var(--color-success);
        color: var(--color-success-invert);
    }
    &.is-error {
        background-color: var(--color-error);
        color: var(--color-error-invert);
    }
    &.is-white {
        background-color: #FFF;
        color: #000;
    }
    &.is-dark {
        background-color: var(--grey-darker);
        color: #FFF;
    }
}