
.has-text-center {
    text-align: center !important;
}
.has-text-right {
    text-align: right !important;
}
.has-text-left {
    text-align: left !important;
}
.has-text-justify {
    text-align: justify !important;
}
.has-text-primary {
    color: var(--color-primary) !important;
}
.has-text-secondary {
    color: var(--color-secondary) !important;
}