
.has-text-center {
    text-align: center;
}
.has-text-right {
    text-align: right;
}
.has-text-left {
    text-align: left;
}
.has-text-justify {
    text-align: justify;
}
.has-text-primary {
    color: $color-primary;
}
.has-text-secondary {
    color: $color-secondary;
}