
.title {
    font-size: nth($title-size, 3);
    font-weight: nth($title-weight, 3);

    &:not(:first-child) {
        margin-top: nth($title-margin-top, 3);
    }
    &:not(:last-child) {
        margin-bottom: nth($title-margin-bottom, 3);
    }

    @include mobile {
        font-size: nth($title-size-mobile, 3);
    }
}

@for $i from 1 through 6 {
    .title.is-#{$i}, .content h#{$i} {
        font-size: nth($title-size, $i);
        font-weight: nth($title-weight, $i);
        color: nth($title-color, $i);

        &:not(:first-child) {
            margin-top: nth($title-margin-top, $i);
        }
        &:not(:last-child) {
            margin-bottom: nth($title-margin-bottom, $i);
        }
    }
}

@include mobile {
    @for $i from 1 through 6 {
        .title.is-#{$i}, .content h#{$i} {
            font-size: nth($title-size-mobile, $i);
        }
    }
}
