
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $font-color;

    @include mobile {
        font-size: $font-size-mobile;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

:focus:not(:focus-visible) {
    outline: none
}