.is-hidden-mobile {
  display: none !important;
}

@include tablet {
  .is-hidden-tablet {
    display: none !important;
  }
  .is-showed-tablet {
    display: block !important;
  }
  .is-showed-flex-tablet {
    display: flex !important;
  }
}

@include desktop {
  .is-hidden-desktop {
    display: none !important;
  }
  .is-showed-desktop {
    display: block !important;
  }
  .is-showed-flex-desktop {
    display: flex !important;
  }
}

@include widescreen {
  .is-hidden-widescreen {
    display: none !important;
  }
  .is-showed-widescreen {
    display: block !important;
  }
  .is-showed-flex-widescreen {
    display: flex !important;
  }
}

@include fullhd {
  .is-hidden-fullhd {
    display: none !important;
  }
  .is-showed-fullhd {
    display: block !important;
  }
  .is-showed-flex-fullhd {
    display: flex !important;
  }
}