
.section {
    padding: var(--section-padding);

    @include mobile {
        padding: var(--section-padding-mobile);
    }
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}