
.form {
    &-line {
        display: flex;
        align-items: flex-start;
        padding: var(--form-line-margin);
    }

    &-field {
        flex: 1;
        margin: var(--form-field-padding);

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        &.is-column {
            .form-radio, .form-checkboxes {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &.is-error {
            .form-control {
                border: 1px solid var(--color-error);
            }
        }
        &.is-required {
            .form-label, .form-checkbox > span {
                &:after {
                    content: '*';
                    color: var(--color-error);
                    display: inline-block;
                    margin-left: 4px;
                }
            }
        }
    }

    &-select {
        position: relative;

        &::before {
            @include chevron('bottom', var(--form-select-arrow-size), var(--form-select-arrow-color), var(--form-select-arrow-thickness));
            position: absolute;
            top: 50%;
            right: 10px;
            pointer-events: none;
        }

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }

    &-input, &-select select {
        width: 100%;
        padding: var(--form-input-padding);
        color: var(--form-input-color);
        background-color: var(--form-input-background);
        border: var(--form-input-border);
        border-radius: var(--form-input-radius);
        font-size: var(--form-input-fontsize);
        font-family: var(--font-family);

        &:focus {
            border: var(--form-input-focus-border);
            background-color: var(--form-input-focus-background);
            color: var(--form-input-focus-color);
            outline: none;
        }

        &[disabled] {
            border: var(--form-input-disable-border);
            background-color: var(--form-input-disable-background);
            color: var(--form-input-disable-color);
        }

        &::placeholder {
            color: var(--form-input-placeholder-color);
        }
    }

    &-label {
        display: block;
        font-size: var(--form-label-size);
        font-weight: var(--form-label-weight);
        color: var(--form-label-color);
        margin: var(--form-label-margin);
    }

    &-help {
        margin: var(--form-help-margin);
        font-size: var(--form-help-size);
        font-style: var(--form-help-style);
        color: var(--form-help-color);
    }

    &-checkbox {
        display: flex;
        align-items: center;

        input {
            margin-right: 8px;
        }
    }

    &-checkboxes, &-radio {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &-option {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: 20px;
            }

            input {
                margin-right: 8px;
            }
        }
    }

    &-submit {
        display: flex;
        align-items: center;
        margin-top: 20px;

        > *:not(:first-child) {
            margin-left: 15px;
        }
    }

}
