
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-previous, &-next {
        &[disabled] {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    &-previous {
        order: 1;
    }
    &-next {
        order: 3;
    }

    &-list {
        order: 2;
        display: flex;
        align-items: center;
    }

    &-ellipsis {
        margin: $pagination-link-margin;
        padding: $pagination-link-padding;
        color: $pagination-ellipsis-color;
    }

    &-link {
        display: inline-block;
        margin: $pagination-link-margin;
        padding: $pagination-link-padding;
        border-radius: $pagination-link-radius;
        text-align: center;
        min-width: 2em;

        &:hover {
            color: $pagination-color-hover;
        }

        &.is-current {
            color: $pagination-active-color;
            background-color: $pagination-active-background;
        }
    }
}