
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-previous, &-next {
        &[disabled] {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    &-previous {
        order: 1;
    }
    &-next {
        order: 3;
    }

    &-list {
        order: 2;
        display: flex;
        align-items: center;
    }

    &-ellipsis {
        margin: var(--pagination-link-margin);
        padding: var(--pagination-link-padding);
        color: var(--pagination-ellipsis-color);
    }

    &-link {
        display: inline-block;
        margin: var(--pagination-link-margin);
        padding: var(--pagination-link-padding);
        border-radius: var(--pagination-link-radius);
        text-align: center;
        min-width: 2em;

        &:hover {
            color: var(--pagination-color-hover);
        }

        &.is-current {
            color: var(--pagination-active-color);
            background-color: var(--pagination-active-background);
        }
    }
}